body {
    background-color: #F5F7FB;
}

main {
    color: #293264;
}

.yellowBackground {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.blueBackground {
    position: fixed;
    bottom: 0;
    left: 0;
}

.main-page {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 45%;
}

.trivia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 200;
    margin-top: 50px;
}

.question {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.answers {
    display: flex;
    width: 75vw;
    /* min-width: 600px; */
}

hr {
    color: #DBDEF0;
    opacity: 0.4;
}

.trivia--check {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.score {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}